/*Normalize*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.428571429;
}

img{
	max-width: 100%; 
} 

/*Micro Clearfix*/
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}


.clearfix{
    *zoom: 1;
}

/*Sticky Footer*/
html{
    position: relative;
    min-height: 100%;
}

.footer-stick{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*Helper Class*/
.pull-left{
	float: left !important;
}

.pull-right{
	float: right !important;
}

.full-width{
	width: 100%;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.mpzero{
	margin: 0;
	padding: 0;
}

.ul-list{
	list-style-type: none;
}

/*Alert Box*/
.alert{
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-bottom: 20px;
}

.alert-box{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-warning{
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/* Button */
.btn{
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}

/* Button Big */
.btn-big{
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.btn:focus{
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus{
	color: #333333;
	text-decoration: none;
}

/* Button Default */
.btn-default{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus{
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

/* Button Blue */
.btn-blue{
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}

.btn-blue:hover,
.btn-blue:focus{
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}

/* Form */
input[type], textarea{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
	color: #555;
}
 
input[type]:focus, textarea:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.form-group{
	display: block;
	margin-bottom: 15px;
	font-size: 14px;
}

.form-group .form-label{
	text-align: right;
	float: left;
	padding: 5px 20px 0 0 !important;
	color: #333;
	font-weight: bold;
}

.form-group .form-element{
	float: right;
}

.form-group .form-input{
	width: 100%;
	display: block;
}

/* Table */
.table-responsive{
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

table{
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	overflow: visible;
}

thead{
	display: table-header-group;
	vertical-align: middle;
	width: auto;
}

tr{
	display: table-row;
}

th{
	vertical-align: bottom:
	border-bottom: 2px solid #ddd;
	padding: 8px;
	font-weight: bold;
	display: table-cell;
	text-align: left;
	white-space: nowrap;
}

tbody{
	display: table-row-group;
	vertical-align: middle;
}

td{
	padding: 8px;
	vertical-align: top;
	border-top: 1px solid #ddd;
	line-height: 1.428571429;
	text-align: left;
}

/* Striped Table */
.table-strip tbody tr:nth-child(odd) td{
	background-color: #f9f9f9;
}

/* Hover Table */
.table-hover tbody tr:hover td{
	background-color: #f5f5f5;
}

/* Tooltip */
a[data-tooltip]{
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after{
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before{
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px !important;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  line-height: 20px !important;
}
a[data-tooltip]::after{
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after{
  display: block;
}

/* Left Tooltip */
a[data-tooltip][data-placement="left"]::before{
  top: -25%;
  right: 100%;
  margin-right: 10px;
}
a[data-tooltip][data-placement="left"]::after{
  border-left-color: #000;
  border-right: none;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  margin-right: 4px;
}

/* Right Tooltip */
a[data-tooltip][data-placement="right"]::before{
  top: -25%;
  left: 100%;
  margin-left: 10px;
}
a[data-tooltip][data-placement="right"]::after{
  border-right-color: #000;
  border-left: none;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  margin-left: 4px;
}

/* Top Tooltip */
a[data-tooltip][data-placement="top"]::before{
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
}
a[data-tooltip][data-placement="top"]::after{
  border-top-color: #000;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: 4px;
}

/* Bottom Tooltip */
a[data-tooltip][data-placement="bottom"]::before{
  top: 100%;
  left: 0;
  margin-top: 10px;
}
a[data-tooltip][data-placement="bottom"]::after{
  border-bottom-color: #000;
  border-top: none;
  top: 100%;
  left: 10px;
  margin-top: 4px;
}

/*mGrid*/
*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row{
  margin: 0 auto;
  width: 100%;
}

.m_hidden-desktop{
	display: none;
}

/*Clearfix*/
.row:after{
	content: "";
	display: table;
	clear: both;
}

/* Container */
.container_960{
	width: 960px;
	margin: 0 auto;
}

.container_1140{
	width: 1140px;
	margin: 0 auto;
}

.row-pad [class*='m_col-']{
	padding-bottom: 1rem;
}

/* If screen is larger then 640px(40rem)*/
@media (min-width: 640px){
	[class*='m_col-'] {
		float: left;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	
	[class*='m_col-']{
		padding-bottom: 0;
	}
	
	/* Grid Widths */
	.m_col-12 {width: 100%;}
	.m_col-11{width: 91.6666666667%;}
	.m_col-10{width: 83.3333333333%;}
	.m_col-9{width: 75%;}
	.m_col-8{width: 66.6666666667%;}
	.m_col-7{width: 58.3333333333%;}
	.m_col-6 {width: 50%;}
	.m_col-5{width: 41.6666666667%;}
	.m_col-4 {width: 33.3%;}
	.m_col-3 {width: 24.95%;}
	.m_col-2{width: 16.6666666667%;} 
}

/*Mobile*/
@media (max-width: 480px){	
	.m_hidden-phone{
		display: none;
	}
	
	.m_hidden-desktop{
		display: inherit;
	}

	.m_hidden-tablet{
		display: inherit;
	}	
}

/*Tablet*/
@media (min-width: 480px) and (max-width: 800px){
	.m_hidden-tablet{
		display: none;
	}
	
	.m_hidden-phone{
		display: inherit;
	}
	
	.m_hidden-desktop{
		display: inherit;
	}	
}

/* Container Responsive*/
@media screen and (max-width: 960px){
	.container_960{
		width: 96%;
	}
}

@media screen and (max-width: 1140px){
	.container_1140{
		width: 96%;
	}
}

/*Custom Style*/
body{
	margin-bottom: 40px;
	background-color: #f6f5f2;
	font-weight: 200;
	color: #666;
}

progress
{
	/* turn of styling */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
 
	/* no default border in FF and Opera */
	border: none;
 
	/* Dimensions */
	height: 9px;
	width: 151px;
}
 
/* Firefox  */ 
progress  {
	background: #ccc;
	border-radius: 10px;
}
progress::-moz-progress-bar {
	background: #3498db;
	border-radius: 10px;
}
progress:not([value])::-moz-progress-bar {
	background:#ccc;
	border-radius: 10px;
}
 
/* Chrome */
progress::-webkit-progress-bar {
	background: #ccc;
	border-radius: 10px;
}
progress::-webkit-progress-value {
	background: #3498db;
	border-radius: 10px;
}
progress:not([value])::-webkit-progress-bar {
	background:#ccc;
	border-radius: 10px;
}

/* Header */
.header_wrapper{
	background-color: #2c3e50;
	color: #fff;
}

.logo{
	font-size: 32px;
	line-height: 100px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.nav-button{
	font-size: 42px;
	line-height: 100px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.nav_menu ul{
	list-style-type: none;
}

.nav_menu ul li{
	display: inline-block;
	float: left;
}

.nav_menu ul li a{
	color: #fff;
	display: inline-block;
	text-decoration: none;
	line-height: 100px;
	font-size: 16px;
	padding: 0 12px 0 12px
}

.nav_menu ul li a:hover{
	background-color: #3498db;
}

.nav_menu ul li.active a{
	background-color: #3498db;
}

/* Main */
.page-content{
	padding: 20px 0 50px 0;
}

.page_header{
	background-color: #fff;
	border-bottom: 1px solid #dedede;
	padding: 15px 0 15px 0;
}

.page_header.sticky{
	position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0; 
	padding: 10px 0 10px 0;
	opacity: 0.85;
}

.page_header.sticky h2{
	font-size: 26px;
}

.page_header.sticky img{
	height: 32px;
	width: 32px;
}

.page_header h2{
	font-size: 36px;
	font-weight: 100;
	color: #3498db;
	display: inline-block;
	vertical-align: middle;
}

.page_header img{
	display: inline-block;
	vertical-align: middle;
}

.panel{
	background-color: #fff;
	margin-bottom: 30px;
}

.panel-title{
	color: #333;
	border-bottom: 2px solid #3498db;
}

.panel-title.pad{
	padding: 10px 15px;
}

.panel-title .title-text{
	padding: 10px 15px;
}

ul.akis-tarih{
	list-style-type: none;
	float: right;
}

ul.akis-tarih li{
	display: inline-block;
	float: left;
}

ul.akis-tarih li a{
	display: inline-block;
	text-decoration: none;
	color: #333;
	line-height: 47px;
	padding: 0 10px 0 10px;
}

ul.akis-tarih li a:hover{
	background-color: #3498db;
	color: #fff;
}

ul.akis-tarih li.active a{
	background-color: #3498db;
	color: #fff;
}

.suan-box{
	background-color: #fff;
	border: 1px solid #dedede;
}

.yayin-box{
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
}

.yayin-top{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.kanal-title{
	line-height: 50px;
}

.kanal-title a{
	text-decoration: none;
	color: #666;
}

.kanal-title a:hover{
	text-decoration: underline;
}

.kanal-logo{
	margin-right: 12px;
}

.contact-form{
	margin-left: 25%;
}

/* Popüler Kanallar Liste */
ul.yayin-list{
	list-style-type: none;
	padding-bottom: 4px;
}

ul.yayin-list li{
	padding: 8px;
	border-bottom: 1px dotted #ddd;
	color: #333;
	cursor: pointer;
}

ul.yayin-list li:hover{
	background-color: #f5f5f5;
}

ul.yayin-list li.active{
	color: red;
	background-color: #f5f5f5;
}

ul.yayin-list li:last-child{
	border-bottom: 0;
}

ul.yayin-list li .yayin-time{
	background-color: #3498db;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	margin-right: 4px;
	border-bottom: 2px solid #36535A;
}

ul.yayin-list li .now{
	font-size: 22px;
}

.now{
	font-size: 24px;
	color: #3498db;
}

/* Kanallar Liste */
ul.kanal_list{
	list-style-type: none;
	padding-left: 30px;
}

ul.kanal_list li{
	display: inline-block;
	float: left;
	padding-bottom: 20px;
	width: 123px;
	display: block;
}

ul.kanal_list li a{
	display: inline-block;
	background-color: #fff;
	text-decoration: none;
	width: 110px;
}

ul.kanal_list li:last-child{
	padding: 0;
}

ul.kanal_list li a:hover .logo_wrap{
	border-color: #3498db;
}

ul.kanal_list li a .logo_wrap{
	padding: 10px 0;
	border: 2px solid transparent;
}

ul.kanal_list li a img{
	display: block;
	margin: 0 auto;
}

ul.kanal_list li a span{
	display: block;
	text-align: center;
	font-size: 18px;
	background-color: #3498db;
	color: #fff;
	padding: 6px 10px;
}

ul.yayin-akis{
	list-style-type: none;
}

.program-details{
	margin-top: 10px;
	width: 100%;
	display: none;
}

ul.yayin-akis li{
	width: 100%;
	border-bottom: 2px dotted #ddd;
	background-color: #fff;
	padding: 14px 12px;
}

ul.yayin-akis li h3{
	margin-top: 2px;
}

ul.yayin-akis li:hover{
	cursor: pointer;
	background-color: #f1f1f1;
}

ul.yayin-akis li.active{
	background-color: #f1f1f1;
	color: #333;
}

ul.widget-kanal{
	list-style-type: none;
}

ul.widget-kanal li{
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
}

ul.widget-kanal li a{
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: #333;
	padding: 10px;
}

ul.widget-kanal li a:hover{
	background-color: #f1f1f1;
	color: #3498db;
}

ul.widget-kanal li span{
	display: block;
}

ul.yayin-akis li:last-child{
	border-bottom: 0;
}

ul.yayin-akis li img{
	float: left;
}

.saat{
	margin-right: 10px;
}

.saat span{
	display: inline-block;
	background-color: #3498db;
	color: #fff;
	border-radius: 4px;
	padding: 3px;
	border-bottom: 2px solid #36535A;
}

.saat span:first-child{
	margin-right: 3px;
}

.saat span:last-child{
	margin-left: 3px;
}

/* Banner */
.banner{
	padding: 0 0 3em 0;
	background-color: #e8eff5;
	border-bottom: 1px solid #dedede;
}

.banner h2{
	color: #3498db;
	margin-left: 10px;
	padding: 1em 0 1em 0;
	font-size: 36px;
	font-weight: 100;
}

.banner-blue{
	background-color: #3498db !important;
}

.banner-blue h2{
	color: #fff;
}

.form{
	padding-left: 20px;
	padding-right: 4px;
	padding-top: 20px;
}

.form-group .form-label {
	text-align: left !important;
	font-weight: 200;
}

/* Timeline */
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background-color: #ccc;
  z-index: 4;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.time {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
  min-height: 100px;
}

.info {
  position: relative;
  width: 300px;
  float: right;
  min-height: 100px;
}

.info .bubble:before {
  position: absolute;
  top: 50%;
  right: -45px;
  content: ' ';
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #3498db;
  z-index: 7;
}

.info .bubble:before {
  left: -40px;
}

.time .bubble:after{
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-left-color: #333;
	border-width: 8px;
}

.info .bubble:after{
	content: "";
	position: absolute;
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-right-color: #333;
	border-width: 8px;
}

.time .bubble{
	margin-top: 4px;
	border-radius: 50%;
	width: 120px;
	height: 120px; 
	text-align: center;
	padding: 30px 0 30px 0;
	font-size: 32px;
	line-height: 58px;
	color: #3498db;
	background-color: #fff;
	border: 1px solid #ccc;
}

.info .bubble{
	height: 120px;
	border-radius: 8px;
}

.bubble{
	display: inline-block;
	border: 1px solid #ccc;
}

.bubble-left{
	padding: 10px 16px 10px 10px;
	background-color: #fff;
	height: 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	word-wrap:break-word;
	width: 200px;
}

.bubble-left h3{
	color: #333;
	display: block;
}

.suan-kanal-logo{
	cursor: pointer;
	padding: 10px;
	background-color: #f5f5f5;
	height: 100%;
	border-left: 1px solid #dedede;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 72px;
}

.suan-kanal-logo:hover{
	background-color: #f1f1f1;
	color: red;
}

.suan-kanal-logo img{
	margin-top: 10px;
}

.suan-kanal-logo span{
	display: block;
	text-align: center;
	margin-top: 6px;
}

.small-time{
	font-weight: bold;
	font-size: 8px;
	margin-bottom: -10px;
}

.small-time:last-child{
	margin-top: -4px;
}

.progress{
	position: absolute;
	bottom: 30px;
}

.suan-tur{
	font-size: 14px;
	word-wrap:break-word;
	width: auto;
}

.now-saat{
	width: 160px;
	height: 130px;
	background-color: #ccc;
	margin: 0 auto;
	margin-bottom: 30px;
	position: relative;
	z-index: 7;
	padding: 0 !important;
}

.now-saat h2{
	color: #333;
	margin-left: 0;
}

/* Footer */
.footer_wrapper{
	background-color: #2c3e50;
	height: 40px;
	line-height: 40px;
}

.footer_wrapper p{
	color: #f5f5f5;
}

.go_up{
	position: fixed;
	bottom: 12px;
	right: 12px;
	background: #2c3e50;
	color: #fff;
	padding: 6px 12px;
	display: none;
	z-index: 6;
	cursor: pointer;
	font-size: 26px;
}

img.captcha{
	width: 25%;
	height: 30px;
	display: inline-block;
	float: left;
	padding-right: 20px;
}

.captcha-input{
	display: inline-block;
	width: 75% !important;
	float: left;
}

/* Font */
@font-face {
	font-family: 'akis';
	src:url('../fonts/akis.eot?ywn8m1');
	src:url('../fonts/akis.eot?#iefixywn8m1') format('embedded-opentype'),
		url('../fonts/akis.woff?ywn8m1') format('woff'),
		url('../fonts/akis.ttf?ywn8m1') format('truetype'),
		url('../fonts/akis.svg?ywn8m1#akis') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'akis';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\f077";
}

.icon-menu:before {
	content: "\e608";
}
.icon-live:before {
	content: "\e600";
}

/*Popup*/
.avgrund-ready.avgrund-active{
	background-color: #333;
}
 
.avgrund-active body {
	-webkit-transform: scale( 0.9 );
	   -moz-transform: scale( 0.9 );
	    -ms-transform: scale( 0.9 );
	     -o-transform: scale( 0.9 );
	        transform: scale( 0.9 );
}

.avgrund-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 7;
	visibility: hidden;
	opacity: 0;
	background: rgba( 0, 0, 0, 0.5 );
}
	.avgrund-active .avgrund-cover {
		visibility: visible;
		opacity: 1;
	}

.avgrund-contents {
	position: relative;
	padding: 20px;
	max-width: 400px;
	height: 100%;
	margin: auto;
}
	.avgrund-active .avgrund-contents {
		-webkit-filter: blur(2px);
		   -moz-filter: blur(2px);
		    -ms-filter: blur(2px);
		     -o-filter: blur(2px);
		        filter: blur(2px);
	}
	.no-blur.avgrund-active .avgrund-contents {
		-webkit-filter: none;
		   -moz-filter: none;
		    -ms-filter: none;
		     -o-filter: none;
		        filter: none;
	}

.avgrund-popup {
	position: absolute;
	width: 600px;
	height: 220px;
	left: 42%;
	top: 400px;
	margin: -130px 0 0 -190px;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	padding: 20px;

	background: white;
	box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );

	-webkit-transform: scale( 0.8 );
	   -moz-transform: scale( 0.8 );
	    -ms-transform: scale( 0.8 );
	     -o-transform: scale( 0.8 );
	        transform: scale( 0.8 );
}
	.avgrund-active .avgrund-popup-animate {
		visibility: visible;
		opacity: 1;

		-webkit-transform: scale( 1.1 );
		   -moz-transform: scale( 1.1 );
		    -ms-transform: scale( 1.1 );
		     -o-transform: scale( 1.1 );
		        transform: scale( 1.1 );
	}
	.avgrund-popup.stack {
		-webkit-transform: scale( 1.5 );
		   -moz-transform: scale( 1.5 );
		    -ms-transform: scale( 1.5 );
		     -o-transform: scale( 1.5 );
		        transform: scale( 1.5 );
	}
	.avgrund-active .avgrund-popup.stack {
		-webkit-transform: scale( 1.1 );
		   -moz-transform: scale( 1.1 );
		    -ms-transform: scale( 1.1 );
		     -o-transform: scale( 1.1 );
		        transform: scale( 1.1 );
	}


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;

	-webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	   -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	    -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	     -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	        transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.avgrund-ready .avgrund-popup.no-transition {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}

.avgrund-popup img{
	margin-right: 10px;
}

.avgrund-popup h2{
	font-size: 22px;
	margin-bottom: 10px;
	color: #3498db;
}

@media (max-width: 480px){
	
	ul.akis-tarih{
		float: left;
	}

	ul.timeline{
		width: 90%;
		margin: 0 auto !important;
	}

	ul.timeline li{
		margin: 0 auto;
	}
	
	.info{
		max-width: 280px !important;
		margin: 0 auto !important;
		z-index: 6;
	}
	
	ul.timeline .time, .info .bubble:before, .info .bubble:after{
		display: none;
	}
	
	.contact-form{
		margin-left: 0;
	}

}

@media (min-width: 520px) and (max-width: 800px){
	
	.yayin-grid{
		width: 50%;
	}
	
	.yayin-grid:nth-child(1){
		float: left !important;
		padding-right: 5px;
		margin-bottom: 5px;
	}
	
	.yayin-grid:nth-child(3){
		float: left !important;
		padding-right: 5px;
	}
	
	.yayin-grid:nth-child(2){
		float: right !important;
		padding-left: 5px;
		margin-bottom: 5px;
	}
	
	.yayin-grid:nth-child(4){
		float: right !important;
		padding-left: 5px;
	}

}

@media (max-width: 800px){

	.avgrund-popup{
		left: 55%;
		top: 30%;
		width: 90%;
		box-sizing: Border-box;
		height: auto;
	}
	
	.header-wrapper{
		height: auto;
	}
	
	.nav_menu{
		float: left;
		width: 100%;
		padding-bottom: 10px;
	}
	
	.nav_menu ul li{
		display: block;
		width: 100%;
	}
	
	.nav_menu ul li a{
		display: block;
		height: 50px;
		line-height: 49px;
	}

}
